<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="so100_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>so101_hardware/SO101HardwareInterface</plugin>
                <param name="device">/dev/ttyUSB0</param>
            </hardware>
            
            <joint name="joint_1">
                <param name="id">1</param> <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_2">
                <param name="id">2</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_3">
                <param name="id">3</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_4">
                <param name="id">4</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_5">
                <param name="id">5</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_6">
                <param name="id">6</param>
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
